

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

body{
    font-size: 15px;
}

ul{
    padding-left: 0px;
}
img{
    max-width: 100%;
}
a, a:hover{
    text-decoration: none;
}

.logo{
    background: #dee6bc;
    text-align: center;
    padding: 10px;
}

.main-menu{
    background: #393939;
    padding: 0px!important;
}


.main-menu ul li{
    display: block;
}



.profile{
    text-align: center;
    margin: 20px 0px 10px 0px; 
}

.profile h4{
    color:#b3d249;
    font-size: 0.9333333333333333em;
    margin: 5px;
    font-family: 'Roboto-Regular';
}

.profile small{
    font-size: 0.8em;
    color:#8a8a8a;
    font-family: 'Roboto-Regular';
}



.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #999999;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: 'Roboto-Bold';
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #999999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #393939; background: #d5d5d5;}

.accordion li.open i { color: #393939; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

footer{
    width: 100%;
    background: #393939;
    text-align: center;
    color:#fff;
    padding: 10px 0px;
}

footer p{
    font-family: 'Quicksand-Regular';
    font-weight: 900;
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #393939;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: 'Roboto-Bold';
}

.submenu a:hover {
  background: #3e3e3e;
  color: #fff;
}

.main-body{
}

.dashboard-head h1{
    font-family: 'RobotoSlab-Regular';
    margin: 0px;
    padding: 10px;
}

.dashboard-head p{
    font-family: 'Roboto-Regular';
    font-size: 0.9333333333333333em;
    font-weight: 100;
    margin-left: 10px;
}

.dashboard-head button{
  background: #e7e7e7;
  border: 0px;
  padding: 5px 10px;
  margin: 20px 0px;
}

.dashboard-head h4{
    color:#7c7c7c;
    margin: 20px;
    font-family: 'Roboto-Regular';
}


.bxslider li:nth-child(odd){
    background: #b3d249;
}

.bxslider li:nth-child(even){
    background: #d8d8d8;
}

.bxslider li:nth-child(odd) i{
    color: #fff;
}

.bxslider li:nth-child(even) i{
    color:#4d4d4d;
}


.bxslider li{
    color:#4d4d4d;
    font-family: 'Roboto-Bold';
    height: 130px;
}

.bxslider li h4{
    margin: 0px;
}

.bxslider li h3{
    text-transform: uppercase;
}

.bxslider li i{
    font-size: 5.666667em;
}

.bxslider span{
    color:#fff;
}

.bx-content{
  display: inline-block;
  width: 50%;
  margin: 10px;
}

.bx-icon{
  display: inline-block;
  width: 40%;
  text-align: center;
  margin: 10px 0px;
}

.summary h3{
  font-family: 'RobotoSlab-Regular';
  padding: 0px 10px;
}

table a, table a:hover{
  color: #b3d249;
}

div.dataTables_filter label{
  display: block!important;
  font-family: 'RobotoSlab-Regular';
  font-weight: 100;
  float: left;
  width: 100%;
}

.dataTables_filter input[type="text"]{
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dad9d9;
}

.dataTables_wrapper{
  padding: 10px;
}

table.dataTable thead th{
  background-color: #b3d149!important;
  border: 0px!important;
  color:#fff;
}

table.dataTable tbody td button{
  background: transparent;
  border: 0px;
  font-weight: 900;
} 

div.dataTables_paginate{
  float: left!important;
  margin: 20px 0px!important;
}

.dataTables_paginate .pagination>.active>a, .dataTables_paginate .pagination>.active>span, .dataTables_paginate .pagination>.active>a:hover, .dataTables_paginate .pagination>.active>span:hover, .dataTables_paginate .pagination>.active>a:focus, .dataTables_paginate .pagination>.active>span:focus{
  background-color: #b3d149!important;
  border-color: #b3d149!important;
}


.dataTables_paginate .pagination>li>a, .dataTables_paginate .pagination>li>span{
  background-color: #cbcbcb!important;
  border-color: #cbcbcb!important;
  color:#fff!important;
  margin: 0px 3px!important;
  border-radius: 0px!important;
}


/*Login*/
.login{
  width: 100%;
  margin: 50px auto;
  background: #8a8a8a;
}

.login img{
  width: 100%;
}

.login-form{
  margin: 20px;
  font-family: 'Roboto-Regular';
}
.login-ban{
  position: relative;
}

.login-ban h2{
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 1.5em;
  color:#626262;
  font-family: 'Roboto-Regular';
  font-weight: 900;
}

.login-form label{
  color:#fff;
}

.login-form .remember{
  text-align: left;
  padding: 0px;
}

.login-form .forgot{
  text-align: right;
  padding: 0px;
}

.login-form .forgot a{
  color:#fff;
}

.login-form button{
  color:#fff;
  width: 100%;
  text-align: center;
  background: #b3d149;
  border: 0px;
  padding: 15px 0px;
  margin: 10px 0px;
}

.login-form a.login-social:nth-child(3){
  width: 100%;
  padding: 10px;
  text-align: left;
  display: block;
  background: #5d7cb6;
  color:#fff;
  margin: 20px 0px;
}

.login-form a.login-social:nth-child(4){
  width: 100%;
  padding: 10px;
  text-align: left;
  display: block;
  background: #609450;
  color:#fff;
  margin: 20px 0px;
}

.login-form a.login-social:nth-child(3) i{
  font-size: 2.5em;
  display: inline-block;
  width: 10%;
}

.login-form a.login-social:nth-child(4) i{
  font-size: 2.5em;
  display: inline-block;
  width: 10%;
  color:#a2bc9b;
}

.login-form a.login-social span{
  width: 60%;
  display: inline-block;
  font-weight: 900;
}
/*End of Login*/

/*Details*/
.details h2{
  font-family: 'Roboto-Regular';
  font-size: 1.6em;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}

.details table tbody tr td{
  padding: 15px;
  clear: both;
  font-family: 'Roboto-Regular';
  color:#7c7c7c;
  font-size: 1.066666666666667em;
}

.details table tbody tr td span{
  padding: 5px 10px;
  border-radius: 5px;
  color:#fff;
}

.pending{
  background: #ab7a4b;
}

/*Details*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .login{
    width: 500px;
    margin: 50px auto;
    background: #8a8a8a;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}






.btn-primary {
  color: #fff;
  width: 100%;
  text-align: center;
  background: #b3d149;
  border: 0px;
  padding: 15px 0px;
  margin: 10px 0px;
}



.btn-primary:hover {
  background: #b3d14a;
}



.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #b3d149;
}